<%- include("../partials/header", {title: "Inicio"}) %>

<main>
  <section class="jumbotron text-center bg-light">
    <% data.results.forEach(result => { %> <%if(result.place_type === "state")
    {%>
    <!-- Mortes  -->
    <div class="row">
      <div class="col-md-6">
        <h2 class="display-3"><%= result.confirmed %></h2>
        <h3 class="lead">Casos Confirmados</h3>
      </div>

      <div class="col-md-6 mt-5 mt-md-0">
        <h2 class="display-3"><%= result.deaths %></h2>
        <h3 class="lead">Mortes</h3>
      </div>
    </div>
    <!-- Data -->
    <div class="row mt-5">
      <div class="col-md-12">
        <h2 class="display-3">
          <time class="date"><%=result.date %></time>
        </h2>
        <h3 class="lead">Última atualização</h3>
      </div>
    </div>
    <!-- Compartilhe  -->
    <div class="row">
      <div class="col-12 mt-4 pt-4 justify-content-center">
        <h6 class="display-6 font-weight-bolder">Compartilhe</h6>
      </div>
    </div>
    <!-- Botoes  -->
      <div class="row">
        <div class="col-12 pt-2 justify-content-center">
          <ul class="share-buttons">
            <li>
              <a
                href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fcovid19-rn.herokuapp.com%2F&quote=Covid%2019%20RN"
                title="Share on Facebook"
                target="_blank"
                ><img
                  alt="Share on Facebook"
                  src="images/social_flat_rounded_rects_svg/Facebook.svg"
              /></a>
            </li>
            <li>
              <a
                href="https://twitter.com/intent/tweet?source=https%3A%2F%2Fcovid19-rn.herokuapp.com%2F&text=Covid%2019%20RN:%20https%3A%2F%2Fcovid19-rn.herokuapp.com%2F"
                target="_blank"
                title="Tweet"
                ><img
                  alt="Tweet"
                  src="images/social_flat_rounded_rects_svg/Twitter.svg"
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <%}%> <% }); %>
  </section>

  <section class="datatable container-fluid table-responsive">
    <div>
      <table class="table table-md table-striped table-hover text-center">
        <thead class="thead">
          <th scope="col">Cidade</th>
          <th scope="col">Casos Confirmados</th>
          <th scope="col">Mortes</th>
          <th scope="col" class="d-none d-md-table-cell">Data</th>
        </thead>
        <tbody>
          <% data.results.forEach(function (result){ %> <% if(result.place_type
          === "city"){ %>
          <tr>
            <td><%= result.city %></td>
            <td><%= result.confirmed %></td>
            <td><%= result.deaths %></td>
            <td class="d-none d-md-table-cell date">
              <time><%= result.date %></time>
            </td>
          </tr>
          <% } %> <% }); %>
        </tbody>
      </table>
    </div>
  </section>
</main>

<%- include("../partials/footer") %> <%- include("../partials/scripts") %>
<script src="/js/index.js"></script>
