<%- include("../partials/header", {title: "Inicio"}) %>

<main>
  <section class="jumbotron text-center bg-light">
    <% data.results.forEach(result => { %> <%if(result.place_type === "state")
    {%>
    <!-- Mortes  -->
    <div class="row">
      <div class="col-md-6">
        <h2 class="display-1"><%= result.confirmed %></h2>
        <h3 class="lead">Casos Confirmados</h3>
      </div>

      <div class="col-md-6 mt-5 mt-md-0">
        <h2 class="display-1"><%= result.deaths %></h2>
        <h3 class="lead">Mortes</h3>
      </div>
    </div>
    <!-- Data -->
    <div class="row mt-5">
      <div class="col-md-12">
        <h2 class="display-1">
          <time class="date"><%=result.date %></time>
        </h2>
        <h3 class="lead">Última atualização</h3>
      </div>
    </div>
    <!-- Compartilhe  -->
    <div class="row">
      <div class="col-12 mt-4 pt-4 justify-content-center">
        <h6 class="display-6 font-weight-bolder">Compartilhe</h6>
      </div>
    </div>
    <!-- Botoes  -->
      <div class="row">
        <div class="col-12 pt-2 justify-content-center">
          <ul class="share-buttons">
            <li><a
                href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcovidrn.live&quote=Ferramenta%20de%20monitoramento%20do%20avan%C3%A7o%20da%20covid-19%20no%20RN%2C%20de%20potiguares%20para%20potiguares%3A%20http%3A%2F%2Fcovidrn.live"
                title="Share on Facebook" 
                target="_blank"
                ><img 
                  alt="Share on Facebook"
                  src="images/flat_web_icon_set/color/Facebook.png" /></a></li>
            <li><a
                href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fcovidrn.live&text=Ferramenta%20de%20monitoramento%20do%20avan%C3%A7o%20da%20covid-19%20no%20RN%2C%20de%20potiguares%20para%20potiguares%3A%20http%3A%2F%2Fcovidrn.live"
                target="_blank" 
                title="Tweet"
                ><img 
                  alt="Tweet" 
                  src="images/flat_web_icon_set/color/Twitter.png" 
                /></a>
            </li>
            <li><a href="https://plus.google.com/share?url=http%3A%2F%2Fcovidrn.live" 
              target="_blank"
                title="Share on Google+"
                ><img 
                  alt="Share on Google+" 
                  src="images/flat_web_icon_set/color/Google+.png" 
                  /></a>
            </li>
            <li><a
                href="http://www.reddit.com/submit?url=http%3A%2F%2Fcovidrn.live&title=Ferramenta%20de%20monitoramento%20do%20avan%C3%A7o%20da%20covid-19%20no%20RN%2C%20de%20potiguares%20para%20potiguares%3A%20http%3A%2F%2Fcovidrn.live"
                target="_blank" title="Submit to Reddit"
                ><img 
                  alt="Submit to Reddit"
                  src="images/flat_web_icon_set/color/Reddit.png" 
                /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <%}%> <% }); %>
  </section>

  <section class="container-fluid table-responsive">
  <div>
      <table class="table table-md table-striped table-hover text-center" data-toggle="table">
        <thead class="thead">
          <th scope="col" id="cidade" data-sortable="true" data-field="cidade">Cidade</th>
          <th scope="col" id="casos" data-sortable="true" data-field="casos" data-sort-order="desc">Casos Confirmados</th>
          <th scope="col" id="mortes" data-sortable="true" data-field="mortes" data-sort-order="desc">Mortes</th>
         <!-- <th scope="col" id="data" data-sortable="true" data-field="data" class="d-none d-md-table-cell">Data</th>-->
        </thead>
        <tbody>
          <% data.results.forEach(function (result){ %> <% if(result.place_type
          === "city"){ %>
          <tr>
            <td><%= result.city %></td>
            <td><%= result.confirmed %></td>
            <td><%= result.deaths %></td>
          <!--  <td class="d-none d-md-table-cell date">
              <time><%= result.date %></time>
            </td>-->
          </tr>
          <% } %> <% }); %>
        </tbody>
      </table>
    </div>
  </section>
</main>

<%- include("../partials/footer") %> <%- include("../partials/scripts") %>
<script src="/js/index.js"></script>
